body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #747B7B;
  color: #fff;
}

p {
  color: black;
}

main {
  margin-top: 0px;
}

nav {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
}

.header-left {
  float: left;
}

.header-left h2 {
  line-height: 65px;
}

.header-right {
  float: right;
}

.header-right ul {
  padding: 0;
  margin: 0;
  float: left;
}

.header-right li {
  float: left;
  list-style: none;
  transition: all 0.8s;
}

.header-right li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 24px;
  display: block;
  color: white;
}

footer {
  position: flex;
  bottom: 0;
}

