body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #747B7B;
  color: black;
}

nav {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
}

.add-btn{
  font-size: 20px;
  margin-top: 20px;
}

.content{
  color: black;
}

footer{
  position: flexd;
  bottom: 0;
}